.main {
  padding-top: 6rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.title {
  font-weight: 800;
  font-size: 34px;
  margin: 15px;
}

.titleWord {
  animation: color-animation 4s linear infinite;
}

.word1 {
  --color-1: #a2cdff;
  --color-2: #84daff;
  --color-3: #c0ffa1;
}

.word2 {
  --color-1: #6cffe4;
  --color-2: #4dffea;
  --color-3: rgb(114, 255, 208);
}

.publish {
  margin: 200px auto;
  width: 80%;
  border: 1px solid rgb(110, 99, 160);
  padding: 1.5rem 3rem;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  /* box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); */
  backdrop-filter: blur(14px);
  background-color: rgba(94, 80, 109, 0.18);
  transition: ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.publish:hover {
  transform: scale(0.98);
}

.research_title {
  width: 100%;
  min-height: 40px;
  padding: 1rem;
  border-radius: 10px;
  margin: 20px auto;
  background: rgb(239, 224, 253);
  color: black;
  font-size: 18px;
}

.research_desc {
  width: 100%;
  min-height: 250px;
  padding: 1rem;
  margin: 20px auto;

  background: rgb(239, 224, 253);
  color: black;
  border-radius: 10px;
  font-size: 18px;
  scroll-behavior: auto;
}

.research_docs {
  padding: 1rem;
  background: rgb(239, 224, 253);
  color: black;
  font-size: 18px;
}

.upload {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  /* width: 800px;
  height: 200px; */
  width: 100%;
  /* min-height: 80px; */
  max-height: 350px;
  overflow: auto;
  scroll-behavior: auto;

  padding: 1rem;
  margin: 20px auto;
  border-radius: 10px;

  color: black;

  background: rgb(239, 224, 253);
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

@media screen and ( max-width: 768px) {
  .title {
    font-size: 22px;
  }

  .publish {
    text-align: center;
    max-width: 100%;
    padding: 1.5rem;
    font-size: 16px;
  }

  .research_docs {
    font-size: 14px;
  }

  .research_title, .research_desc {
    font-size: 16px;
  }
  
}